h1 {
    font-weight : 700;
    font-size : 45px;
    margin: 10 px;
    margin-bottom: 20 px;

}

input {
    width: 100%;
}

.items-container{
    text-align: left;
}

.kg-row {
    margin : 7px 3px;
}
.kg button {
    min-width: 80 px;

}